<ion-header>
  <ion-toolbar color="primary" slot="primary" mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="segments">
      <ion-button fill="clear">ENTRIES</ion-button>
    <hr style="margin: 0; width:1px; height: auto; background-color: black;">
    <ion-button fill="clear">SUMMARY</ion-button>
  </div>
  <ion-list>
    <ion-item>
      <ion-thumbnail style="margin:0" slot="end">
        <p>23000</p>
      </ion-thumbnail>
      <div>
        <p class="category">Shopping</p>
        <div class="date-comment">
          <p>8 Jun 2019</p>
          <p>
            Clothes
          </p>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <ion-thumbnail style="margin:0" slot="end">
        <p>23000</p>
      </ion-thumbnail>
      <div>
        <p class="category">Shopping</p>
        <div class="date-comment">
          <p>8 Jun 2019</p>
          <p>
            Clothes
          </p>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <ion-thumbnail style="margin:0" slot="end">
        <p>23000</p>
      </ion-thumbnail>
      <div>
        <p class="category">Shopping</p>
        <div class="date-comment">
          <p>8 Jun 2019</p>
          <p>
            Clothes
          </p>
        </div>
      </div>
    </ion-item>

    <ion-item>
        <ion-thumbnail style="margin:0" slot="end">
          <p>23000</p>
        </ion-thumbnail>
        <div>
          <p class="category">Shopping</p>
          <div class="date-comment">
            <p>8 Jun 2019</p>
            <p>
              Clothes
            </p>
          </div>
        </div>
      </ion-item>
      
      <ion-item>
        <ion-thumbnail style="margin:0" slot="end">
          <p>23000</p>
        </ion-thumbnail>
        <div>
          <p class="category">Shopping</p>
          <div class="date-comment">
            <p>8 Jun 2019</p>
            <p>
              Clothes
            </p>
          </div>
        </div>
      </ion-item>
  </ion-list>

  <div class="summary">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Monthly Summary - June</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-thumbnail style="margin:0 0 0 0" slot="end">
            <p>23000</p>
            <p>12000</p>
          </ion-thumbnail>
          <div class="summary">
            <p>Total Income:</p>
            <p> Total Expenses:</p>
          </div>
        </ion-item>
        <div class="savings">
          <p class="savings-text">Total Savings:</p>
          <p class="savings-number">23000</p>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Yearly Summary - June</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-thumbnail style="margin:0 0 0 0" slot="end">
            <p>23000</p>
            <p>12000</p>
          </ion-thumbnail>
          <div class="summary">
            <p>Total Income:</p>
            <p> Total Expenses:</p>
          </div>
        </ion-item>
        <div class="savings">
          <p class="savings-text">Total Savings:</p>
          <p class="savings-number">23000</p>
        </div>
      </ion-card-content>
    </ion-card>

  </div>








<!--   <ion-button class="delete_btn" fill="solid" color="danger" (click)="clearData()" >Clear Stats</ion-button> -->
</ion-content>