<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-title>Add Income</ion-title>
  </ion-toolbar>


  <ion-item>
    <ion-label position="floating">Date</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="date" [value]="date">
    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Amount</ion-label>
    <ion-input type="number" [(ngModel)]="amount" [value]="amount" pattern="[0-9]*"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Category</ion-label>
    <ion-select interface="action-sheet" [(ngModel)]="selectedCategory">
      <ion-select-option *ngFor="let category of incomeCategories; index as i" (ionChange)="categorySelected($event)">
        {{category}}
      </ion-select-option>
    </ion-select>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Comment</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="done-all"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>