<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 
  <ion-toolbar>
    <ion-title>Add Income</ion-title>
  </ion-toolbar>
 -->

  <ion-item>
    <ion-label position="floating">Date</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="date" [value]="date">
    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Amount</ion-label>
    <ion-input type="number" [(ngModel)]="amount" [value]="amount" pattern="[0-9]*"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Category</ion-label>
    <ion-select interface="popover" (ionChange)="categorySelected($event)">
      <ion-select-option *ngFor="let category of incomeCategories">
        {{category}}
      </ion-select-option>
    </ion-select>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Comment</ion-label>
    <ion-input type="text"[(ngModel)]="comment"></ion-input>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed"
    *ngIf="amount !== undefined && selectedCategory !== undefined && date !== null">
    <ion-fab-button>
      <ion-icon name="done-all" (click)="saveIncome()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>