<ion-header class="header-toolbar">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="padding: 0 0 0 0; margin: 0 0 0 0; font-size: 17px;" text="" icon="exit" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" style="margin: 0; font-size: 17px; padding: 0em;">
      Add Expense
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Date</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="date" [value]="date">
    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Amount</ion-label>
    <ion-input type="number" [(ngModel)]="spendingAmount" [value]="spendingAmount" pattern="[0-9]*"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Category</ion-label>
    <ion-select interface="action-sheet" (ionChange)="categorySelected($event)">
      <ion-select-option *ngFor="let category of categories" [value]="category">
        {{category.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="categorySet">
    <ion-label position="floating">Sub Category</ion-label>
    <ion-select interface="action-sheet" (ionChange)="subCategorySelected($event)">
      <ion-select-option *ngFor="let sub of subCategory" [value]="sub">{{sub}}</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Comment</ion-label>
    <ion-input inputmode="text" [(ngModel)]="comment" [value]="comment"></ion-input>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed"
    *ngIf="categorySet && subCategorySet && spendingAmount !== undefined">
    <ion-fab-button>
      <ion-icon name="done-all" (click)="saveExpense()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>