<ion-header>
  <ion-toolbar color="medium" slot="primary" mode="md">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-item class="month">
        <ion-label position="floating">Spending Limit Amount</ion-label>
        <ion-input 
          type="number" 
          clear-input="true"
          pattern="[0-9]*" 
          style="font-size: 30px; text-align: center;"
          [(ngModel)]="spendingLimit">
        </ion-input>
      </ion-item>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed"
      *ngIf="spendingLimit !== undefined && spendingLimit > 0">
      <ion-fab-button>
        <ion-icon name="done-all" (click)="saveSpendingLimit()"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>

