.title{
    height: 30px;
    background: #ccc8b9
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 0;
    padding-top: 6px;
    color: darkcyan;
    margin-bottom: 0;
    text-align: center;
}

.month{
    margin: 5em 1em;
}