.box {
  margin: 1em 8px;
  border-radius: 4px;
  text-align: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: 129px;
  justify-items: center;
  width: 124px;
  border: black;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  box-shadow: black;
  border-style: ridge;
  border-block-start-color: gray;
  border-end-end-radius: 20px;
  border-start-start-radius: 20px;
  background-color: #ffffff34;
}
p {
    color: black;
}
ion-icon {
  font-size: 90px;
}

.balances {
  text-align: center;
  border-radius: 5px;
  border-style: groove;
  margin: 34px 20px;
  background-color: burlywood;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: burlywood;
  border-style: groove;
  border-radius: 13px;
  padding: 5px;
  margin: 20px 19px;
}

.toolbar-container {
    background-color: burlywood;
}

.inner-scroll.scroll-y{
    background: peru;
}